* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;

    padding: 18px 60px;
    background-color: #4A5D23;
}

/* Primeira área */
.logo {
    flex: 1;
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
  }  

.logo a {
    color: inherit;
    text-decoration: none;
}


/* Segunda área */
.menu {
    flex: 1;

    display: flex;
    justify-content: center;
    gap: 40px;

    list-style: none;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

/* Terceira área */
.icons {
    flex: 1;

    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.icons button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.usuario {
    position: relative;
}

.modal-usuario {
    position: absolute;

    top: 50px;
    right: 0;

    width: 180px;

    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 5px;

    background-color: white;

    border-radius: 10px;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);

    z-index: 100;
}

.modal-usuario a,
.modal-usuario button {
    width: 100%;

    padding: 10px;

    border: none;

    border-radius: 6px;

    background-color: transparent;

    color: #4a5d23;

    text-align: left;

    font-size: 1rem;

    text-decoration: none;

    cursor: pointer;
}

.modal-usuario a:hover,
.modal-usuario button:hover {
    background-color: #d9e2d5;
}